#ship{
	-fx-display: flex;
	-fx-justify-content: center;
	-fx-position: relative;
	-fx-top: 800-100;
}
#hpBar{
	-fx-pref-width:500;
	-fx-pref-height:30;
}
.progress-bar .bar {

	-fx-background-insets: 0.1;
    -fx-background-color:green;
 -fx-background-radius:7;
}

.progress-bar .track {
  -fx-background-radius:7;
    -fx-background-color: #e5e6e4;
 
}